html {
  background: #e9e9e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.hero {
  background: #ff4f4f;
  color: #fff;
  padding: 80px 40px;
}

.app-info, .terms {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.terms {
  padding: 80px 0;
}

.hero h1,
.hero h2 {
  max-width: 50%;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1em;
}

.hero h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  border-bottom: 2px solid #fff;
  padding-bottom: 40px;
  padding-right: 50px;
  color: #ffeeee;
}

.terms h2 {
  font-size: 22px;
  margin: 40px 0 0 0;
}

.logo-container {
  position: relative;
}

.rr-logo-text {
  position: absolute;
  width: 60px;
  left: 26px;
  top: -2px;
}

.app-screenshot {
  position: absolute;
  top: 40px;
  right: -40px;
}

.iphone-ss {
  width: 448px;
  height: 572px;
}

.app-store-link {
  margin-top: 40px;
  display: block;
}

.content {
  padding: 0 40px;
}

.banner {
  background: #fff;
  max-width: 800px;
  margin: 140px auto;
  padding: 40px;
  text-align: center;
  position: relative;
}

.device-watch {
  width: 180px;
  height: 339px;
  position: absolute;
  top: -70px;
  left: 12%;
}

.banner-title {
  margin: 0 0 0 30%;
  width: 70%;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

.banner-message {
  margin: 0 0 0 30%;
  width: 70%;
  display: inline-block;
  font-size: 22px;
  color: #999;
}

.banner-message strong {
  display: block;
  font-weight: normal;
}

.footer {
  max-width: 800px;
  margin: 20px auto;
  padding-top: 20px;
  border-top: 2px solid #d1d1d1;
  overflow: hidden;
  font-size: 12px;
}

.site-resources {
  float: left;
  margin-top: 12px
}

.copyright {
  color: #999;
}

.site-resources a {
  color: #555;
  margin-right: 10px;
}

a.primary-footer-link {
  color: #ff4f4f;
}

.share {
  float: right;
}

.share a {
  color: #6c3bf9;
}

@media screen and (max-width: 850px) {
  .hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .app-screenshot {
    right: 0;
  }

  .iphone-ss {
    width: 398px;
    height: 522px;
  }

  .banner-title,
  .banner-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    margin-left: 40px;
    margin-right: 40px;
  }

  .iphone-ss {
    width: 358px;
    height: 482px;
  }
}

@media screen and (max-width: 767px) {
  .hero h1,
  .hero h2 {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 18px;
    padding-right: 0;
  }

  .app-screenshot {
    margin-top: 40px;
    position: relative;
    top: auto;
    right: auto;
  }

  .iphone-ss {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  .content {
    padding: 0;
  }

  .terms {
    padding: 40px 20px;
  }

  .banner {
    margin: 0 auto;
  }

  .device-watch {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }

  .banner-title,
  .banner-message {
    margin: 0;
    width: 100%;
    font-size: 18px;
  }

  .footer {
    margin-top: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .site-resources,
  .share {
    float: none;
  }


  .site-resources {
    margin-top: 0;
  }

  .share {
    margin-top: 10px;
  }

  .site-resources a,
  .share a {
    display: inline-block;
    margin: 0 5px;
  }

  .copyright {
    display: block;
    margin-top: 10px;
  }
}

a.mt-share-inline-square-sm img {
  width: 34px;
  height: auto;
  border: 0px;
}
a.mt-share-inline-square-sm {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 2px;
  margin-left: 4px;
}
.mt-twitter:hover {
  background-color: rgb(8, 187, 255);
}
.mt-twitter {
  background-color: rgb(0, 172, 238);
}
.mt-facebook:hover {
  background-color: rgb(66, 100, 170);
}
.mt-facebook {
  background-color: rgb(59, 89, 152);
}
